
    <ion-pane style="background: url(img/bg3.jpg) center; background-size: cover;"> 
      <ion-content style="background: url(img/bg3.jpg) center; background-size: cover;">
        <div class="card">
			   <div class="item item-avatar" style="text-align:center">
				  <h2 style="text-align:center"><strong>{{items.heading}}</h2>
			   </div>

			   <div class="item item-body" style="white-space: pre;">
				  <img class="full-image" src="{{items.img}}" >
					{{items.desc}}
			   </div>
		
		<div>	
      </ion-content>
    </ion-pane>
